.player {
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
}

.player .player-left {
  flex: 0 0 150px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.player-right {
  flex: 0 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.player-controls {
  flex: 0 0 175px;
  margin-left: 30px;
}

.player-center {
  flex: 10 1 auto;
  align-self: flex-start;
  padding-top: 22px;
  text-align: center;
  position: relative;
  font-family: "Roboto";
  overflow: hidden;
}

.seek-bar {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  margin: 6px;
}

.icon {
  margin-left: 10px;
  padding-right: 10px;
}

.podcast .podcast-title {
  font-size: 12px;
}

.image {
  width: 80px;
  height: 80px;
}

img {
  border-radius: 3px;
  height: inherit;
  width: inherit;
}

@media only screen and (max-width: 800px) {
  .player {
    display: inline-block;
    align-items: center;
    flex-grow: inherit;
    padding-top: 10px;
  }

  .player-controls {
    flex: 10 1 auto;
    margin-left: 0px;
    align-self: flex-start;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    font-family: "Roboto";
    overflow: hidden;
  }

  .player-center {
    padding-top: 2px;
    padding-bottom: 8px;
  }

  .episode-title {
    font-size: 12px;
  }

  .podcast-title {
    font-size: 10px;
  }
}
